global:
  cluster:
    name:
    domain:
  cloudHsm:
    enabled: true
    ip: 127.0.0.1
  domainGovUK: eidas.signin.service.gov.uk
  qwacCertificate:
    enabled: false

hubFqdn: www.integration.signin.service.gov.uk

connector:
  entityID:
  metadata:
    # FIXME: Something for the future...
    # This implies the scheme and port are configurable; they're not really.
    # Baked into the istio ServiceEntry and VirtualService resources associated
    # with the metadata endpoints is a structural assumption that it's TLS-based
    # with routing being done by SNI.
    fqdn:
    scheme: https
    port: 443
    path: /ConnectorMetadata
    assertionConsumerServicePath: /SAML2/Response/POST
  metadataSigningTruststoreBase64:
  metadataSigningTruststorePassword: marshmallow

esp:
  replicaCount: 1
  image:
    repository: 
    tag: f33a370c0a7be474ab84aa0fb882925f299054aff3199d42ba72fc9eb7b2ed6f
    pullPolicy: IfNotPresent

metatron:
  replicaCount: 1
  image:
    repository: 
    tag:
    pullPolicy: IfNotPresent

gateway:
  replicaCount: 1
  image:
    repository: 
    tag: 1975031b78f5df2611e00b8cf9e264106d8a43628e52f1499119f33278048bb5
    pullPolicy: IfNotPresent
  errorPageURL: https://www.integration.signin.service.gov.uk/proxy-node-error
  metadataPath: /ServiceMetadata

hsm:
  image:
    repository: 
    tag: 0b1adb00b1d65f5dd43449cd12c1f1ccca543455714d3e52bde0972e3bdee3d0
    pullPolicy: IfNotPresent

translator:
  replicaCount: 1
  image:
    repository: 
    tag: fd6ada0159c1cc5415cd51ffcdd41fc3f19c4cb827cafdecf9134a372024bc4a
    pullPolicy: IfNotPresent
  connectorNodeNationalityCode: EU

stubConnector:
  host:
  enabled: false
  replicaCount: 1
  image:
    repository: 
    tag: 4af88e30aa699a3b10da92f54f522fed97f3273520f5ef364bcaa4c6f608d251
    pullPolicy: IfNotPresent

vsp:
  replicaCount: 1
  image:
    repository: 
    tag: 632143dcb87423ff000b9fcd53a14b101eacfa4d1a19a14f611ee6a6c2ee0e97
    pullPolicy: IfNotPresent
  secretName: vsp
  hub:
    ssoLocation:
    entityID:
    metadata:
      url:
      truststore:
      truststorePassword:
