<h1>Response successfully received</h1>

<h2>Saml Validity: {{validity}}</h2>
<h2>eIDAS Request Id: {{eidasRequestId}}</h2>
<h2>LOA: {{loa}}</h2>

<h2>Attributes</h2>
<ul style="list-style: none;">
  {{#attributes}}
    {{#.}}
      <li>
        <label style="display: block; float: left; text-align: right; width: 120px; padding-right: .75em;">
          <b>{{key}}:</b>
        </label>
        <span>{{value}}</span>
      </li>
    {{/.}}
  {{/attributes}}
</ul>

<h3>SAML Message</h3>
<details>
  <summary><i>Click to expand</i></summary>
  <textarea readonly style="width: 750px; height: 500px; font-family: monospace">{{samlMessage}}</textarea>
</details>

<p><a href="/">Start Again</a></p>
