<html>
<head>
  <title>Sorry, something went wrong</title>
  <meta charset="utf-8"/>
  <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
</head>

<style>
  .main {
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title {
    font-weight: 700;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .issues {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .help {
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>

<body>

<div class="main">
  <div class="title">Sorry, something went wrong</div>
  <div class="issues">This may be because your session timed out or there was a system error.</div>
  <div class="help">Because you were using a secure service from another European country, you’ll need to go back to
    the page where you started using that service.
  </div>
</div>

</body>
</html>
