<!DOCTYPE html>
<!-- doctype needs to be here otherwise the button shows immediately in some browsers -->
<html>
<head>
    <title>Saml Processing...</title>
    <script type="text/javascript">
        function init() {
            document.forms[0].setAttribute("style", "display: none;");

            window.setTimeout(function () {
                document.forms[0].removeAttribute("style");
            }, 5000);

            document.getElementsByTagName('form')[0].submit();
        }
    </script>
    <style type='text/css'>
      body {
        padding-top: 2em;
        padding-left: 2em;
        background-color: white;
      }
      .saml-form {
        font-family: Arial, sans-serif;
      }
      .submitBtn {
        background-color: #00823b;
        color: #fff;
        padding: 10px;
        font-size: 1em;
        line-height: 1.25;
        border: none;
        box-shadow: 0 2px 0 #003618;
        cursor: pointer;
      }
      .submitBtn:hover, .submitBtn:focus {
        background-color: #00692f;
      }
    </style>
</head>

<body onload="init()">
<form action={{postUrl}} method=post name=saml-form>
    <h1>Continue to next step</h1>
    <p>Because Javascript is not enabled on your browser, you must press the continue button</p>
    <input type=hidden name={{samlMessageType}} value={{encodedSamlMessage}}>
    <input type=hidden name=RelayState value={{relayState}}>
    <label>
        {{submitText}}:
        <input type=submit name=submitBtn value=Submit>
    </label>
</form>
</body>
</html>
